# Python Structures

## Exercise 21: Working with Python lists

In [1]:
shopping = ['bread', 'milk', 'eggs']
print(shopping)

['bread', 'milk', 'eggs']

In [2]:
for item in shopping:
    print(item)

bread
milk
eggs

## Exercise 22: Using a Nested List to Store Data from a Matrix

In [3]:
m = [
    [1,2,3],
    [4,5,6]
]

In [4]:
print(m[1][1])

5

In [6]:
for i in range(len(m)):
    for j in range(len(m[i])):
        print(m[i][j], end = " ")
    print('\n')

1 2 3

4 5 6

## Activity 6: Usinf Nested List to Store Employee Data

|Name | Age | Department|
|:----|----:|:----------|
|John Mckee| 38 | Sales|
|Lisa Crawford | 29 | Marketing |
|Sujan Patel | 33 | HR |

In [7]:
employees = [
    ['John Mckee', 38, 'Sales'],
    ['Lisa Crawford', 29, 'Marketing'],
    ['Sujan Patel', 33, 'HR']
]

In [8]:
print(employees)

[['John Mckee', 38, 'Sales'], ['Lisa Crawford', 29, 'Marketing'], ['Sujan Patel', 33, 'HR']]

In [21]:
def print_employee(index):
    name, age, department = employees[index]
    print(f"Name: {name}")
    print(f"Age: {age}")
    print(f"Department: {department}")
    print('---------------------')

In [20]:
print_employee(1)

Name: Lisa Crawford
Age: 29
Department: Marketing
----------------------

In [22]:
for index in range(len(employees)):
    print_employee(index)

Name: John Mckee
Age: 38
Department: Sales
---------------------
Name: Lisa Crawford
Age: 29
Department: Marketing
---------------------
Name: Sujan Patel
Age: 33
Department: HR
---------------------

## Activity 7: Storing Company Employee Table Data Using a List and a Dictionary

In [23]:
employees = []

In [24]:
employees.append({
    'name': 'John Mackee',
    'age': 38,
    'department': 'Sales'
})

In [26]:
employees.append({
    'name': 'Lisa Crawford',
    'age': 28,
    'department': 'Marketing'
})

In [27]:
employees.append({
    'name': 'Sujan Patel',
    'age': 33,
    'department': 'HR'
})

In [32]:
for employee in employees:
    for key, value in employee.items():
        print(f"{key.capitalize()}: {value}")
    print('-' * 22)

Name: John Mackee
Age: 38
Department: Sales
----------------------
Name: Lisa Crawford
Age: 28
Department: Marketing
----------------------
Name: Sujan Patel
Age: 33
Department: HR
----------------------

In [33]:
query_name = 'Sujan Patel'
for employee in employees:
    if (employee['name'] == query_name):
        for key, value in employee.items():
            print(f"{key.capitalize()}: {value}")
        print('-' * 22)

Name: Sujan Patel
Age: 33
Department: HR
----------------------

## Exercise 29: Using the zip() Method to Manipulate Dictionaries

In [34]:
items = ['apple', 'orange', 'banana']
quantity = [5,3,2]

In [43]:
orders = zip(items, quantity)
print(orders)

<zip object at 0x7ff06701be40>

In [45]:
orders = zip(items, quantity)
print(tuple(orders))

(('apple', 5), ('orange', 3), ('banana', 2))

In [46]:
orders = zip(items, quantity)
print(dict(orders))

{'apple': 5, 'orange': 3, 'banana': 2}

## Exercise 30: Accessing a Dictionary Using Dictionary Methods

In [47]:
orders = {'apple': 5, 'orange': 3, 'bnana': 2}
print(orders.values())

dict_values([5, 3, 2])